<p>{{ block.settings.text }}</p>


{% schema %}
{
  "name": "Common Text Block",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Common text"
    }
  ]
}
{% endschema %}