<p>{{ section.settings.header-text }}</p>

{% schema %}
{
  "name": "Main Header",
  "tag": "header",
  "class": "main-header",
  "settings": [
    {
      "type": "text",
      "id": "header-text",
      "label": "Test header text"
    }
  ]
}
{% endschema %}

