<p>{{ section.settings.footer-text }}</p>


{% schema %}
{
  "name": "Main Footer",
  "tag": "footer",
  "class": "main-footer",
  "settings": [
    {
      "type": "text",
      "id": "footer-text",
      "label": "Test text for footer"
    }
  ]
}
{% endschema %}