<div class="main-container product-list__container">
  {% assign iterator = 0 %}
  {% for product in section.settings.collection.products %}
    {% if product.available and iterator < 4 %}
      {% assign iterator = iterator | plus: 1 %}
      {% render "product-card", product: product %}
    {% endif %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "Product List",
  "tag": "section",
  "class": "product-list",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "View the first 4 elements of collection"
    }
  ]
}
{% endschema %}