/* reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  /* outline: 2px solid lime !important; */
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: only light;
}

html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;

  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  min-height: 100vh;
  min-height: 100svh;

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}


a {
  text-decoration: none;
  color: currentColor;
}


dl,
dd,
p {
  margin: 0;
}

input,
button {
  border: none;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul,
ol,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  font-family: inherit;
  background-color: transparent;
}

input,
textarea {
  font-size: 16px;
}

textarea {
  display: block;
}

address {
  font-style: normal;
}

/* end reset */

/*Utility*/
.hide {
  display: none !important;
}

:disabled,
.disabled {
  pointer-events: none !important;
  opacity: .5 !important;
  filter: grayscale(100) !important;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
  height: 100%;
}

.media-container.contain img,
.media-container.contain video {
  object-fit: contain;
}

.media-container.cover img,
.media-container.cover video {
  object-fit: cover;
}

.padding-appearance {
  padding-inline: 16px;
}

.main-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

.main-text-header {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.button-type-1 {
  margin: 0 auto;
  padding: 16px 75px;
  display: block;
  width: max-content;
  font-weight: 500;
  border: 1px solid var(--palette-1);
  border-radius: 62px;
  transition: .3s ease-in-out;
}

.button-type-1:hover {
  color: var(--palette-6);
  border-color: var(--palette-4);
  background-color: var(--palette-4);
}

/*END Utility*/


/*Header group*/
.main-header {
  padding-block: calc(0.8125rem + 12 * (100vw - 320px) / 448);
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.main-burger {
  width: 24px;
  height: 24px;
  transition: .3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.main-burger:hover {
  background-color: black;
  color: white;
}

.header-logo-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-logo {
  height: 36px;
  width: 110px;
}

.header-menu {
  height: min-content;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-menu-icon {
  padding: 3px;
  display: block;
  width: 30px;
  height: 30px;
  transition: .3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}

.header-menu-icon:hover {
  background-color: black;
  color: white;
}

.main-header-navigation {
  display: none;
}

.main-search-group {
  display: none;
}

.sign-up-announcement {
  position: relative;
  background-color: var(--palette-5);
  color: var(--palette-6);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
}

.sign-up-announcement .main-container {
  padding: 9px 25px 9px 30px;
}

.sign-up-announcement a {
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}

.sign-up-announcement .x-mark {
  margin-left: 15px;
  /*margin-bottom: -5px;*/
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/*END Header group*/


/*footer*/
.subscribe-section {
  margin-top: 50px;
  position: relative;
}

.subscribe-section__container {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--palette-5);
  border-radius: 20px;
}

.subscribe-section:not(:has( + .main-footer)) .subscribe-section__backdrop {
  display: none;
}

.subscribe-section__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-section__backdrop div {
  height: 50%;
}

.subscribe-section__backdrop div:nth-child(1) {

}

.subscribe-section__backdrop div:nth-child(2) {
  background-color: var(--palette-9);
}


.subscribe-section__header {
  color: var(--palette-6);
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

.subscribe-section__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 349px;
}

.subscribe-section__label {
  padding: 10.5px 16px;
  display: flex;
  gap: 12px;
  background-color: var(--palette-6);
  border-radius: 62px;
}

.subscribe-section__label-icon {
  width: 20px;
  height: 20px;
  opacity: 40%;
  color: var(--palette-3);

}

.subscribe-section__input {

}

.subscribe-section__input::placeholder {
  color: var(--palette-3);
}

.subscribe-section__submit-button {
  padding-block: 13px;
  width: 100%;
  font-weight: 500;
  background-color: var(--palette-6);
  border-radius: 62px;
  transition: .3s ease-in-out;
}

.subscribe-section__submit-button:hover {
  background-color: var(--palette-5);
  color: var(--palette-6);
}

.main-footer {
  padding-top: 24px;
  background-color: var(--palette-9);
}

.main-footer__logo {
  width: 140px;
}

.main-footer__text {
  color: var(--palette-4);
  font-size: 14px;
  line-height: 20px;
}

.main-footer__promo  .main-footer__text  {
  margin-top: 15px;
}

.main-footer__social-list {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.main-footer__social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: var(--palette-5);
  background-color: var(--palette-6);
  border: 1px solid var(--palette-3);
  border-radius: 50%;
  transition: .3s ease-in-out;
}

.main-footer__social-list li a:hover {
  color: var(--palette-6);
  background-color: var(--palette-5);
}

.main-footer__social-list li a {
  /*line-height: 0;*/
}

.main-footer__navigation {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  gap: 59px 20px;
  justify-content: space-between;
}

.main-footer__navigation-list {

}

.main-footer__navigation-list-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-footer__navigation-list li {
  margin-top: 12px;
}

.main-footer__bottom {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 77px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-top: 1px solid var(--palette-3);
}

.main-footer__copyrights {
  text-align: center;
}

.main-footer__payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.main-footer__payment-methods > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 26px;
  background-color: var(--palette-6);
  border-radius: 5px;
}

/*end footer*/


@media (min-width: 768px) {
  .main-text-header {
    font-size: 48px;
  }

  .main-header {
    padding-block: 25px;
  }

  .main-header__container {
    height: calc(2.25rem + 12 * (100vw - 768px) / 224);
  }

  .main-header-navigation {
    flex-grow: 1;
    display: block;
  }

  .main-header-navigation ul {
    display: flex;
    gap: 24px;
  }

  .main-header-navigation li {
    transition: .3s ease-in-out;
  }

  .main-header-navigation li.active {
    font-weight: 600;
    pointer-events: none;
  }

  .main-header-navigation li:not(.active):hover {
    color: var(--palette-3);
  }

  .subscribe-section__container {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .subscribe-section__header {
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    max-width: 50%;
  }

  .subscribe-section__form {
    margin: 0 0 0 auto;
  }

  .main-footer {
    padding-top: 52px;
  }

  .main-footer__container {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: space-between;
  }

  .main-footer__promo {
   width: 248px;
  }

  .main-footer__navigation {
    margin-top: 0;
    grid-template-columns: repeat(auto-fit, 128px);
    gap: 0 ;
  }

  .main-footer__navigation-list-title {
    font-size: 16px;
    line-height: 18px;
  }

  .main-footer__bottom {
    grid-column: span 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer__navigation-list .main-footer__text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 992px) {
  .main-header__container {
    height: unset;
    gap: calc(1.25rem + 20 * (100vw - 992px) / 208);
  }

  .main-header-navigation {
    flex-grow: unset;
    display: block;
  }

  .main-search-group {
    flex-grow: 1;
    padding: 11px 16px;
    display: block;
    background-color: var(--palette-9);
    border: 1px solid var(--palette-9);
    border-radius: 24px;
  }

  .main-search-group label {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 24px;
  }

  .main-search-group:has(:focus) {

  }

  .main-search-group input {
    width: 100%;
  }

  .main-search-magnifier-icon {
    width: 21px;
    height: 21px;
    color: var(--palette-3);
  }


  .header-menu-magnifier-icon {
    /*display: none;*/
  }

  .header-menu-magnifier {
    display: none;
  }

  .subscribe-section__container {
    padding: 42px 64px;
  }
}

@media (min-width: 1200px) {
  .main-header__container {
    gap: 40px;
  }

}

@media (min-width: 1240px) {
  .padding-appearance.nullify {
    padding-inline: calc(1rem + -16 * (100vw - 1240px) / 32);
  }
}

@media (min-width: 1272px) {
  .padding-appearance {
    padding-inline: 0;
  }
}
